/*Altering elements for mobile and smaller screen sizes*/

@media (max-width:768px){
  .navbar {
    width: 100%;
  }


  .nav {
    width: 100vw;
    height: 44px;
    display: inline;
  }

  .nav-link {
      height: 44px;
      width: 100%;
  }

  .navicon {
    padding: 0;
    height: 100%;
  }

  .nav-text {
   visibility: visible;
   padding-bottom: 2px;
   display: inline;
  }

  .nav-item a:hover .nav-text {
    transition-property: none;
    transform: none;
    animation: none;
  }

    .dropdown-content {
        left: -30vw;
        top: -45vh;
        min-height: 60vh;
        width: 90vw;
  }

  .dropdown:hover .dropdown-content {
      display: block;
      animation-name: slideInBottom;
      animation-duration: 0.6s;
      animation-timing-function: ease-in-out;
  }

  .explain p {
    display: none;
  }

  .explain {
    position: relative;
    z-index: 100;
    bottom: 10vh;
    text-align: right;
  }

.ProjPic {
    max-height: 50vh;
  }

.ProjPic svg {
  max-height: 60vh;
}

.About {
  height: 50vh;
  width: 100vw;
}

.About img {
  position: absolute;
  top: 35%;
}

}
