
/*defining keyframes animation*/

@keyframes swing {
  from {transform: rotate(0deg);}
  to {transform: rotate(20deg);}
  }

.SlovoJ {
  transform-origin: 58.67% 3.169%;
  animation-name: swing;
  animation-duration: 0.8s;
  animation-timing-function: cubic-bezier(.35,.01,.66,1);
  animation-direction: alternate;
  animation-iteration-count: 4;
  animation-delay: 0.5s;
}
