.modalPic {
  width: 100%;
}


.modall {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 16rem;
    top: 0;
    width: calc(100% - 16rem); /* Full width minus the size of the navbar */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    /*background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(20,10,12,0.8); /* Black w/ opacity */
}

.modall-w {
  background-color: rgba(225,225,225,0.85); /* White w/ opacity */
}


/* Modal Content/Box */
.modall-content {
    background-color: rgba(0,0,0,0);
    margin: 5% auto; /* 5% from the top and centered */
    padding: 20px;
    width: 90%; /* Could be more or less, depending on screen size */
    border: none;
}

/* The Close Button */
.close {
    float: right;
    font-size: 2rem;
    font-weight: 200;
color: white;
    z-index: 5;
    height: 2rem;
}

.close:hover,
.close:focus {
    color: #231F20;
    text-decoration: none;
    cursor: pointer;
}

.modall-close {
  height: 2.2rem;
}

.carousel-control-prev-icon {
  width: 200px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' stroke='#231F20' stroke-width='0.2' fill='#E5E5E5' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' stroke='#231F20' stroke-width='0.2' fill='#E5E5E5' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

/*Styling modal Text content*/
.modalText {
  color: #E5E5E5;
  min-height: 2.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  text-align: center;
}

.modalText-w {
  color: #334E5C;
  /* #334E5C; */
  min-height: 2.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 20px;
  text-align: center;
}

/*Colour of the carousel indicators*/

.carousel-indicators {
  bottom: -10px;
}

/*Colour of the background of the carousel indicatior*/
.carousel-indicators li {
  background-color: #B2B2B2;
}

/*Colour of the active carousel indicatior*/
.carousel-indicators .active {
  background-color: white;
}
