/*Altering elements for mobile and smaller screen sizes*/
@media (min-width:768px) {
  .content-elements {
    height: 100vh;
  }
}


@media (max-width:768px){
  .navbar {
    width: 100%;
  }


  .nav {
    width: 100vw;
    height: 44px;
    display: inline;
  }

  .nav-link {
      height: 44px;
      width: 100%;
  }

  .navicon {
    padding: 0;
    height: 100%;
  }

  .nav-text {
   visibility: visible;
   padding-bottom: 2px;
   display: inline;
  }

  .nav-item a:hover .nav-text {
    transition-property: none;
    transform: none;
    animation: none;
  }

    .dropdown-content {
      min-width: 80vw;
      overflow: scroll;
      height: 50vh;
      padding-top: 0;
  }

  .dropdown:hover .dropdown-content {
      display: block;
      animation-name: slideInBottom;
      animation-duration: 0.6s;
      animation-timing-function: ease-in-out;
  }

/*Adjusting due to change of the navbar position*/

  .high:first-child {
    margin-left: 0;
  }

/*Changing sizes for smaller screens*/
  .content-elements {
    width: 100vw;
    position: relative;
  }

.high {
  height: auto;
  }


  .pad {
    padding: 0;
  }

  h2 {
    font-size: 1.6rem;
  }

  body {
    font-size: 0.8rem;
    line-height: 1.2rem;
  }

  h2::first-letter {
    font-size: 64px;
    font-weight: bold;
    letter-spacing: -2px;
    line-height: 0.4;
  }

  .explain p {
    display: none;
  }

  .explain {
    position: relative;
    z-index: 100;
    /*top: 30vh;*/
    text-align: right;
  }

.ProjPic {
    max-height: 50vh;
  }

/*.AboutImg {
  width: 100%;
}*/

#Contact {
  height: 100vh;
}

}
