/*Altering elements for mobile and smaller screen sizes*/
@media (min-width:768px) {
  .content-elements, .row {
    min-height: 100vh;
  }

  .BDent > .row {
    min-height: auto;
  }
}


@media (max-width:768px){
  .content-elements {
    margin-left: 0;
  }

  .navbar {
    width: 100%;
  }

/*not showing in mobile version*/

.ContactSec {
  display: none;
}

.DescriptText {
  display: none;
}

.TextAbout {
  display: none;
}

.TextNav {
  display: none;
}

.nav-link {
    display: none;
}



/*Showing only in mobile version*/

.mobileText {
  font-size: 1rem;
  font-family: 'Crete Round', serif;
  font-weight: 400;
  font-style: italic;
  color: #334E5C;
}

.mobileShow {
  display: inline-block;
}

.nav li {
margin-left: auto;
margin-right: auto;
}

.nav-item {
  width: auto;
}

.mobileNav img {
  width: 2.8rem;
}

  .nav {
    width: 100vw;
    height: 3rem;
  }



  .navicon {
    padding: 0;
    height: 100%;
  }


.mobileNav:hover {
  transform: scale(1.1);
  transition: all 0.4s ease-in-out;
}


/*Pop up menu*/

.ProjectsSec {
  position: relative;
  display: inline-block;
}

.dropupContent {
  display: none;
  position: absolute;
  bottom: 3rem;
  left: -15vw;
  background-color: #f1f1f1;
  width: 45vw;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.ProjectsSec:hover .dropupContent {
  display: block;
}

.ProjectsSec:hover .nav-link {
  display: block;
  padding: 0.2rem 1rem;
}

.nav-link:hover {
  background-color: white;
}

.ProjectsSec:hover .nav-link {
  display: block;
  padding: 0.2rem 1rem;
}


.Sky {
  width: 100vw;
}


.ContactSec {
  display: none;
  position: absolute;
  bottom: 3rem;
  left: 0;
  background-color: #f1f1f1;
  width: 100vw;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.KeepInTouch {
  display: none;
  width: 18%;
  padding: 3% 5%;
}

.KeepInTouch img {
  width: 4rem;
}

.dropContact:hover .dropupContent {
  display: block;
}

.dropContact:hover .KeepInTouch {
  display: inline-block;
}

.dropContact:hover .KeepInTouch img {
  width: 4rem;
}


/*Changing sizes for smaller screens*/
  .content-elements {
    width: 100vw;
    position: relative;
  }

.high {
  height: auto;
  }


  .pad {
    padding: 0;
  }

  h2 {
    font-size: 1.6rem;
  }

  body {
    font-size: 0.8rem;
    line-height: 1.2rem;
  }

  h2::first-letter {
    font-size: 64px;
    font-weight: bold;
    letter-spacing: -2px;
    line-height: 0.4;
  }

  .explain p {
    display: none;
  }

  .explain {
    position: relative;
    z-index: 100;
    text-align: right;
  }

.ProjPic {
    max-height: 50vh;
  }



#Contact {
  height: 100vh;
}

/*Modal text not showing when small screen*/
.modalText-w h6, .modalText h6, .modalText-w h5, .modalText h5 {
  font-size: 0.8rem;
}

/*Opens up modal over entire pages*/

.modall {
    width: 100%; /* Full width */
    left: 0; /*Returns modal to the left edge*/
}

.mobileHide {
  display: none;
}


} /*Closes entire media query*/


@media (max-width:400px){
  .mobileNav img {
    width: 2rem;
  }

  .dropupContent {
    width: 65vw;
  }

  .ContactSec {
    width: 100vw;
  }

  .KeepInTouch img {
    width: 3.2rem;
  }

  .mobileText {
    font-size: 0.8rem;
  }


}/*Closes media query*/
