/*For large screens some general settings*/
@media (min-width:800px) {
  .content-elements, .row {
    min-height: 100vh;
  }

  .BDent > .row {
    min-height: auto;
  }
}

/*Altering elements for mobile and smaller screen sizes*/
@media (max-width:768px){
  .content-elements {
    margin-left: 0;
  }

  .navbar {
    width: 100%;
  }

/*not showing in mobile version*/

.ContactSec {
  display: none;
}

.DescriptText {
  display: none;
}

.TextAbout {
  display: none;
}

.TextNav {
  display: none;
}

.nav-link {
    display: none;
}


/*Showing only in mobile version*/

.mobileText {
  font-size: 1rem;
  font-family: 'Crete Round', serif;
  font-weight: 400;
  font-style: italic;
  color: #334E5C;
}

.mobileShow {
  display: inline-block;
}

.nav li {
margin-left: auto;
margin-right: auto;
}

.nav-item {
  width: auto;
}

.mobileNav img {
  width: 2.8rem;
}

.nav {
  width: 100vw;
  height: 3rem;
}

.navicon {
  padding: 0;
  height: 100%;
}

.mobileNav:hover {
  transform: scale(1.1);
  transition: all 0.4s ease-in-out;
}


/*Pop up menu*/

.ProjectsSec {
  position: relative;
  display: inline-block;
}

.dropUpProjects {
  display: none;
  position: absolute;
  bottom: 3rem;
  left: -15vw;
  background-color: #f1f1f1;
  width: 45vw;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: -1;
  padding: 0.8rem 0.2rem;
  border-radius: 0.1rem;
}

/* .ProjectsSec:hover .dropupContent {
  display: block;
} */

.ProjectsSec:hover .nav-link {
  display: block;
  padding: 0.2rem 1rem;
}

.nav-link:hover {
  background-color: white;
}

.ProjectsSec:hover .nav-link {
  display: block;
  padding: 0.2rem 1rem;
}


.Sky {
  width: 100vw;
}

.ContactSec {
  display: none;
  position: absolute;
  bottom: 3rem;
  left: 0;
  background-color: #ffff;
  width: 100vw;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  /*z-index: 1;*/
}

.KeepInTouch {
  display: none;
  width: 19%;
  padding: 4% 4%;
  position: relative;
}

.KeepInTouch img {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}


/* .dropContact:hover .dropupContent {
  display: block;
} */

.dropContact:hover .KeepInTouch {
  display: inline-block;
}

/* .dropContact:hover .KeepInTouch img {
  width: 4rem;
} */


/*Changing sizes for smaller screens*/
.content-elements {
  width: 100vw;
  position: relative;
}

.high {
  height: auto;
}

.pad {
  padding: 0;
}

h2 {
  font-size: 1.2rem;
}

body {
  font-size: 0.8rem;
  line-height: 1.2rem;
}

.twoColumnText {
  column-count: 1;
  /*column-gap: 0.4rem;*/
}

h2::first-letter {
  float: left;
  line-height: 66px;
  font-size: 82px;
}

.explain p {
  display: none;
}

.explain {
  position: relative;
  z-index: 100;
  text-align: right;
}

.ProjPic {
    max-height: 50vh;
}

#Contact {
  height: 100vh;
}

/*Modal text not showing when small screen*/
.modalText-w h6, .modalText h6, .modalText-w h5, .modalText h5 {
  font-size: 0.8rem;
}

/*Opens up modal over entire pages*/

.modall {
  width: 100%; /* Full width */
  left: 0; /*Returns modal to the left edge*/
}

.mobileHide {
  display: none;
}


} /*Closes entire media query for max-width 768px*/


@media (max-width:420px){
  .mobileNav img {
    width: 2rem;
  }

  .dropUpProjects {
    width: 80vw;
    left: -30vw;
  }

  .ContactSec {
    width: 100vw;
  }

  .KeepInTouch {
    width: 16%;
  }

  .KeepInTouch img {
    width: 3.2rem;
  }

  .dropContact:hover .KeepInTouch img {
    width: 3.2rem;
  }

  .mobileText {
    font-size: 0.8rem;
  }


}/*Closes entire media query for max-width 400px*/
