/*Projects section*/
  #Projects {
    background-color: #2C858D;

  }


#Projects .ProjPic {
  overflow: visible;
}


/*Project 1*/
.ProjPic {
  max-height: 60vh;
  cursor: pointer;
  padding-bottom: 2rem;
}

.modalBtn {
  cursor: pointer;
  padding-bottom: 2rem;
}

.ProjPic img {
  max-width: 50vw;
}

#Project1 h2, #Project1 p {
  background-color: rgba(230,220,220,0.9);
  padding: 20px;
}


/*Project 2*/

#Project2 h2, #Project2 p {
  background-color: rgba(255,206,95,0.7);
  padding: 20px;
}

.SkillShareIcon {
  width: 8rem;
  height: 8rem;
  margin: 1.6rem 2rem;
}

.SkillRound {
  padding: 18vh 0;
  }

.SvgBack svg {
  max-width: 800px;
  z-index: 2;
}

.SkillshareBack {
  background-image: url('assets/png/Skillshare_background.png');
  background-repeat: repeat;
  background-size: 600px;
}

/*Adjusting Skillshare stacking*/
/* .col-sm-3, .col-md-3, .col-lg-3, .col-xl-3, .SkillShareIcon {
  border: 1px solid green;
} */


/*Project 3*/

.Walking {
 width: 40vw;
}

.Chart_colour {
 animation-name: wheeling;
 transform-origin: center;
 animation-duration: 5s;
 animation-timing-function: ease-in-out;
 animation-iteration-count: 1;
 animation-direction: alternate;
 animation-fill-mode: forwards;
}

#Chart_colour {
 overflow: visible;
 width: 100%;
}

.col-auto {
 overflow: visible;
}

/*Project 4*/

.BetongBack {
  background-image: url('assets/jpg/Beton-og-Bevaring-Illustrasjon_S.jpg');
  background-repeat: repeat-y;
  background-size: cover;
}

#Project5 h2, #Project5 p {
  background-color: rgba(113,59,61,0.9);
  /*background-color: rgba(179,179,145,0.9);*/
  padding: 20px;
  color: white;
}

/*Project 5*/

.B-dentBack {
  background-image: url('assets/png/BDentPattern.png');
  background-repeat: repeat;
  background-size: 4rem;
}


.BDentIcon {
  height: 10rem;
  width: 10rem;
  padding: 0.6rem 2.2rem;
}

/*Project 6*/

#Project6 {
  padding-bottom: 3.4rem;
}

.GreenStreet {
  width: 80vw;
}

#Pedestrians {
  animation-name: zooming;
  transform-origin: center;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-duration: alternate;

}
