/*General*/
body {
  font-family: 'Montserrat', sans-serif;
}

.container-fluid {
  padding: 0;
}

.navbar {
  padding: 0;
  width: 16rem;
}

.content-elements {
  margin-left: 16rem;
  width: calc(100vw - 16rem);
}

.twoColumnText {
  column-count: 2;
  column-gap: 0.4rem;
}

/*Navigation*/
.nav {
  background-color: white;
  width: 16rem;
  height: 100vh;
  float: left;
  box-shadow: 0.1rem 0.1rem 0.6rem -0.2rem #E1AE7D;
}

.nav-item {
  padding: 2px 0;
  width: 14rem;
}

.nav-link {
  margin: 0;
  padding: 0;
}

.nav .col-12 {
  padding: 0.4vh 0;
}

.navicon {
  padding:0 0.1rem;
  margin: 0;
  width: 2.2rem;
}

.abouticon {
  width: 6.8rem;
  padding-top: 6vh;
  padding-bottom: 0.6rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.TextNav {
  font-family: 'Crete Round', serif;
  font-weight: 400;
  font-style: italic;
  font-size: 2rem;
  display: inline;
}

.ContactSec {
  width: 14rem;
  position: absolute;
  bottom: 0;
}

.ProjectsSec a {
  color: black;
}


/*.ContactSec {
  position: absolute;
  bottom: 1.6vh;
}*/

.DescriptText {
  text-align: center;
  color: #E1AE7D;
}

.TextAbout {
  font-family: 'Crete Round', serif;
  font-weight: 400;
  font-style: italic;
  font-size: 2rem;
  text-align: center;
  border-top: 1px solid #E1AE7D;
  border-bottom: 1px solid #E1AE7D;
  width: 14rem;
}

.nav-text {
 padding-bottom: 2px;
}

.projicon {
  width: 4.2vh;
  vertical-align: top;
}

.projtext {
  display: inline-block;
  font-size: 0.8rem;
  width: 72%;
  text-align: left;
  padding-left: 4px;
  line-height: 4.4vh;
}

.KeepInTouch {
  display: inline-block;
  cursor: pointer;
}

/*Invisible in desktop verison*/

.mobileShow {
  display: none;
}

/*@media (max-height:800px) {

  .nav {
    overflow-y: auto;
    background-color: black;
  }



  .TextAbout {
    font-size: 1.8rem;
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 14rem;
  }

  .abouticon {
    width: 6.2rem;
    padding-top: 2.4vh;
  }

  .ProjectsSec {
    padding-bottom: 8vh;
  }

}*/

/*Sidemenu for projects*/

.dropdown-content {
    display: none;
    position: absolute;
    left: 40px;
    height: 100vh;
    background-color: #3C2427;
    min-width: 400px;
    z-index: -5;
    padding-top: 4rem;
}

#projClose {
  color: white;
  border: 1px solid yellow;
  margin-left: 95%;
  z-index: 50;
}

#projClose:hover {
  transform: scale(1.2);

}

.dropdown-content a {
    display: block;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

.dropdown-content a:hover {
  transform: scale(1.2);
}

.projLink:last-child {
  margin-bottom: 46px;
}



.dropdown:hover .dropdown-content {
    display: block;
    animation-name: slideInLeft;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
}

/*States of the navbar*/

.nav-link.active {
  transform: scale(1.1);
  transition: all 0.4s ease-in-out;
}

.nav-link:hover {
transform: scale(1.08);
transition: all 0.2s ease-in-out;
}

.navicon.active, .navicon:hover {
  transform: scale(1.4);
  transition: all 0.2s ease-in-out;
}



/*Animating different states of the navbar*/


@keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}

@-webkit-keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

  @keyframes slideInBottom {
    from {
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
      visibility: visible;
    }

    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
}



/*Dropright button*/
.btn-group {
  position: relative;
  margin-left: 100px;
}



/*About section*/



/*.col-sm-12, .col-md-12 {
  border: 1px solid red;
}

.col-sm-10, .col-md-10 {
  border: 1px solid green;
}

.col-sm-6, .col-md-6 {
  border: 1px solid cyan;
}*/

/*Sky and sea and buzzing - background for About section and Project sections*/

.Sky {
  position: absolute;
  background-color: #2F9F99;
  height: 50vh;
  width: calc(100vw - 16rem);
  border-bottom: 2px solid white;
}

.AboutImg {
  width: 100%;
}



#About {
  background-color: #2C858D;
  height: 100%;
}

.SvgBack {
  z-index: -2;
  background-image: url('assets/png/Buzzing.png');
  background-repeat: repeat;
  background-size: 800px;
}

span {
  background-color: rgba(255,255,255,0.2);
  font-size: 65px;
}

/*About section*/
h2::first-letter {
  font-family: Lora, serif;
  font-size: 102px;
  font-weight: bold;
  letter-spacing: -8px;
}

.pad {
  padding-top: 50px;
}

.high:first-child {
  margin-left: 40px;
}


h2 {
  margin-top: 60px;
  margin-bottom: 40px;
}


.explain {
  position: relative;
  z-index: 100;
  max-width: 400px;
}

.explain > h3 {
  font-size: 12px;
  font-weight: Bold;
}

.explain > h3::first-letter {
  font-family: Lora, serif;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: -4px;
}

.explain > p {
  font-size: 10px;
  color: white;
  font-weight: Light;
  margin: 0;
}

.explain > p > a, .explain > h3 > a {
  text-decoration: underline;
  color: white;
  }


  .selectdark::selection {
    background: #803B3E;

  }

  .selectbright::selection {
    background: #D26167;
  }


svg {
  max-width: 60vw;
  height: 100%;
}
