/*General*/
body {
  font-family: 'Montserrat', sans-serif;
}

.container-fluid {
  padding: 0;
}

.navbar {
  padding: 0;

}

.container {
  width: 90vw;
  margin-left: 18rem;
}

/*Navigation*/
.nav {
  background-color: white;
  width: 18rem;
  height: 100vh;
  overflow-y:scroll;
}

.nav-link {
  margin: 0;
  padding: 0;
}

.navicon {
  padding:2rem 0.4rem;
  margin: 0;
  width: 2.4rem;
}

.abouticon {
  width: 114px;
  padding-top: 14vh;
  padding-bottom: 1rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}



.TextNav {
  font-family: 'Crete Round', serif;
  font-weight: 400;
  font-style: italic;
  font-size: 2rem;
}

.ProjectsSec a {
  color: black;
}

.ProjectsSec {
  margin-top: 6vh;

}

.DescriptText {
  text-align: center;
}

.TextAbout {
  font-family: 'Crete Round', serif;
  font-weight: 400;
  font-style: italic;
  font-size: 2rem;
  text-align: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 15rem;
}

.col-12 {
padding: 6px 0;


}

.nav-text {
 /*visibility: hidden;*/
 padding-bottom: 2px;
}

.LinkToProj {
  height: 60px;

}

.projicon {
  width: 58px;
  vertical-align: top;
}

.projtext {
  display: inline-block;
  font-size: 0.8rem;
  width: 72%;
  text-align: left;
  padding-left: 4px;
  line-height: 60px;

}

.KeepInTouch {
  display: inline-block;
  cursor: pointer;

}
/*Sidemenu for projects*/

.dropdown-content {
    display: none;
    position: absolute;
    left: 40px;
    height: 100vh;
    background-color: #3C2427;
    min-width: 400px;
    z-index: -5;
    padding-top: 4rem;
}

#projClose {
  color: white;
  border: 1px solid yellow;
  margin-left: 95%;
  z-index: 50;
}

#projClose:hover {
  transform: scale(1.2);

}

.dropdown-content a {
    display: block;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

.dropdown-content a:hover {
  transform: scale(1.2);
}

.projLink:last-child {
  margin-bottom: 46px;
}



.dropdown:hover .dropdown-content {
    display: block;
    animation-name: slideInLeft;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
}

/*States of the navbar*/

/*.nav-link.active {
       animation-name: colourChange;
       animation-duration: 0.4s;
       animation-timing-function: ease-out;
       animation-direction: alternate;
       animation-iteration-count: 2;
}

.nav-link:hover {
transform: scale(1.2);
transition: all 0.2s ease-in-out;
background-color: #3C2427;
color: white;
height: 100%;
}

.nav-link:hover .nav-text {
  visibility: visible;
  animation-name: slideInLeft;
  animation-duration: 0.1s;
  animation-timing-function: ease-in;
}

.nav-link.active>.navicon {
  transform: scale(1.2);
  transition: all 0.6s ease-in-out;
}

*/



/*Animating different states of the navbar*/

@keyframes colourChange {
    from {background-color: #55383C;}
    to {background-color: white;}
}

@keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}

@-webkit-keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

  @keyframes slideInBottom {
    from {
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
      visibility: visible;
    }

    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
}



/*Dropright button*/
.btn-group {
  position: relative;
  margin-left: 100px;
}



/*About section*/

.content-elements {
  width: 100vw;
  /*height: 100vh;*/

}

/*Sky and sea and buzzing - background for About section and Project sections*/
.content-element {
  width: 100vw;
  position: relative;
}

.Sky {
  position: absolute;
  background-color: #2F9F99;
  height: 50vh;
  width: 100vw;
  border-bottom: 2px solid white;
}



#About {
  background-color: #2C858D;
  height: 100%;
}

.SvgBack {
  position: absolute;
  z-index: -2;
  height: 100%;
  width: 100%;
  background-image: url('assets/png/Buzzing.png');
  background-repeat: repeat;
  background-size: 800px;
}

span {
  background-color: rgba(255,255,255,0.2);
  font-size: 65px;
}

/*About section*/
h2::first-letter {
  font-family: Lora, serif;
  font-size: 102px;
  font-weight: bold;
  letter-spacing: -8px;
  line-height: 0.4;
}

.pad {
  padding-top: 50px;
}

.high:first-child {
  margin-left: 40px;
}


h2 {
  margin-top: 60px;
}


.explain {
  position: relative;
  z-index: 100;
  max-width: 400px;
}

.explain > h3 {
  font-size: 12px;
  font-weight: Bold;
}

.explain > h3::first-letter {
  font-family: Lora, serif;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: -4px;
}

.explain > p {
  font-size: 10px;
  color: white;
  font-weight: Light;
  margin: 0;
}

.explain > p > a, .explain > h3 > a {
  text-decoration: underline;
  color: white;
  }


  .selectdark::selection {
    background: #803B3E;

  }

  .selectbright::selection {
    background: #D26167;
  }

.ProjPic img {
  min-width: 60vw;
}

svg {
  max-width: 60vw;
  height: 100%;
}
